In [1]:
import pandas as pd

In [5]:
buildings = pd.read_csv('../shapefiles/building_res_emp_elev_2.csv')
old = pd.read_csv('..\shapefiles\\building_block_people_WGS_3_empl.csv')

In [11]:
old.columns

Index(['FID_', 'gid', 'fid_buildi', 'objname', 'numfaces', 'num_floor',
       'fid_landus', 'blklot', 'block_num', 'lot_num', 'resunits', 'landuse',
       'bldgsqft', 'yrbuilt', 'area_m2', 'county', 'fid_tabblo', 'tractce10',
       'housing10', 'lat', 'lon', 'num_people', 'pop10', 'lat_lat', 'lon_lon',
       'EMPL_NUM', 'nu_peo_emp'],
      dtype='object')

In [12]:
buildings['area_m2'] = buildings['Area_m2']
buildings['lat_lat'] = buildings['y_lat']
buildings['lon_lon'] = buildings['x_lon']
buildings['nu_peo_emp'] = buildings['SUM_pop']

In [21]:
buildings.to_csv('../shapefiles/building_res_emp_elev_2.csv')

In [19]:
buildings['gid'] = buildings.index+1

In [20]:
buildings.head()

,Unnamed: 0,num_floor,Area_m2,x_lon,y_lat,ELEV_treat,SUM_pop,pop,employees,lat_lon,area_m2,lat_lat,lon_lon,nu_peo_emp,gid
0,0,4.0,133.080891,-122.450799,37.768826,81.596710,4.906568,4.906568,0.0,"(37.768826000000004, -122.450799)",133.080891,37.768826,-122.450799,4.906568,1
1,1,5.0,325.445476,-122.451321,37.765843,90.321960,12.422514,12.422514,0.0,"(37.765842999999997, -122.45132099999999)",325.445476,37.765843,-122.451321,12.422514,2
2,2,5.0,377.493257,-122.446506,37.766527,112.991294,14.088328,14.088328,0.0,"(37.766527000000004, -122.446506)",377.493257,37.766527,-122.446506,14.088328,3
3,3,5.0,177.082058,-122.445920,37.766472,117.116577,5.487122,5.487122,0.0,"(37.766472, -122.44592)",177.082058,37.766472,-122.445920,5.487122,4
4,4,4.0,433.855912,-122.449522,37.765608,90.413429,31.122123,13.122123,18.0,"(37.765608, -122.449522)",433.855912,37.765608,-122.449522,31.122123,5